.link {
  display: flex;
  padding: 0 0.0625rem;
  text-decoration: none;
  cursor: pointer;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .link {
    padding: 0 0.75rem;
  }
}

@media (max-width: 576px) {
  .link {
    padding: 0 0.25rem;
  }
}

@media (max-width: 330px) {
  .link {
    padding: 0 0.0625rem;
  }
}

.linkActive {
  display: flex;
  padding: 0 0.0625rem;
  text-decoration: none;
  cursor: pointer;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  color: var(--mantine-color-blue-filled);
}

@media (min-width: 1024px) {
  .linkActive {
    padding: 0 0.75rem;
  }
}

@media (max-width: 576px) {
  .linkActive {
    padding: 0 0.25rem;
  }
}

@media (max-width: 330px) {
  .linkActive {
    padding: 0 0.0625rem;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

@media (min-width: 1024px) {
  .inner {
    padding: 0 12px;
  }
}

@media (max-width: 768px) {
  .inner {
    padding: 0 12px;
    width: 100%;
  }
}

.wrapper {

    background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme='dark'] .wrapper {
    background: var(--mantine-color-dark-6);
}